<footer>
    <div class="footer-content">
      <h1 id="foot">Online Book Store</h1>
      <div class="footer-menu">
        <div class="menu">
          <h1> COMPANY</h1>
          <br />
          <h2>------------</h2>
          <h3>About Us</h3>
          <br />
          <h3>Publisher Partnership</h3>
          <br />
          <h3> Contact Us</h3>
          <br />
          <h3>Privacy Policy</h3><br>
          <h3>Disclaimer</h3>
        </div>
        <div class="menu">
          <h1>  MY ACCOUNT</h1>
          <br />
          <h2>------------</h2>
          <h3>My Orders</h3>
          <br />
          <h3>My Addresses</h3>
          <br />
          <h3>My Personal Info</h3>

        </div>
        <div class="menu">
          <h1>SUPPORT</h1>
          <br />
          <h2>------------</h2>
          <h3>Terms of Use</h3>
          <br />
          <h3>How to Order</h3>
          <br />
          <h3>Shipping Policy</h3>
          <br />
          <h3>Return Policy</h3>
        </div>
        <div class="menu">
          <h1>MORE BOOKS</h1>
          <br />
          <h2>------------</h2>
          <h3>Indian Languages</h3>
          <br />
          <h3>International Languages</h3>
          <br />
          <h3>Award Winning Books</h3>
          <br />
          <h3>Frontlist Picks Books</h3><br>
          <h3>Used Books</h3><br>
          <h3>Exams & Age</h3>
        </div>
      </div>
      <div class="footer-feet">
        <p>
          “The person, be it gentleman or lady, who has not pleasure in a good
          novel, must be intolerably stupid.” ― Jane Austen, Northanger Abbey <br>
        copyright ©2020 Online book Store. designed by Sree Ganesh</p>
        <img src="../../assets/foot1.png" alt="">
        <img src="../../assets/foot2.png" alt="">
        <img src="../../assets/foot3.png" alt="">
        <img src="../../assets/foot4.png" alt="">
        <img src="../../assets/foot5.png" alt="">
        <img src="../../assets/foot6.png" alt="">
      </div>
    </div>
  </footer>
