<div class="video-clip">
</div>
<!-- <div class="before-foot">
 <h1> “A reader lives a thousand lives before he dies.” – George R. R. Martin</h1>
</div> -->
<div class="foot">
</div>
<div class="img-slider">
  <ng-image-slider [images]="imgCollection" [imageSize]="{ width: '100%', height: '70%' }">
  </ng-image-slider>
</div>
<div class="books">
  <div class="thumbnail">
    <div><img src="../../assets/icon1.png" alt="">
      <p>Best Seller</p>
    </div>
    <div><img src="../../assets/icon2.png" alt="">
      <p>Award Winner</p>
    </div>
    <div><img src="../../assets/icon3.png" alt="">
      <p>Box Sets</p>
    </div>
    <div><img src="../../assets/icon4.png" alt="">
      <p>International <br> Best Seller</p>
    </div>
    <div><img src="../../assets/icon5.png" alt="">
      <p>New arrivals</p>
    </div>
    <div><img src="../../assets/icon6.png" alt="">
      <p>Fictions Books</p>
    </div>
  </div>
</div>
<app-Books></app-Books>
<app-footer></app-footer>
