<div class="back">
  <div class="login-form">
    <h1>Register</h1>
    <form [formGroup]="regform"  (submit)="submitForm()">
      <div class="user-name">
        <input type="text" placeholder="Name" #name formControlName="namevalue" pattern="^[a-zA-Z]+$" />
        <div *ngIf="regform.controls['namevalue'].dirty" class="alert">
          <p *ngIf="regform.controls['namevalue'].errors?.['required']">User name should not be Empty</p>
          <p *ngIf="regform.controls['namevalue'].errors?.['pattern']">Enter proper User Name</p>
        </div>
      </div>
      <div class="mail">
        <input type="email" placeholder="Email" #mail formControlName="emailvalue"
          pattern="^[0-9a-zA-Z]+[._]{0,1}[0-9a-zA-Z]+[@][a-zA-Z]+[.][a-zA-Z]{2,3}([.][a-zA-Z]{2,3}){0,1}$" />
        <div *ngIf="regform.controls['emailvalue'].dirty" class="alert">
          <p *ngIf="regform.controls['emailvalue'].errors?.['required']">Email should not be Empty</p>
          <p *ngIf="regform.controls['emailvalue'].errors?.['pattern']">Enter a valid Email</p>
        </div>
      </div>
      <div class="mobile">
        <input type="number" placeholder="MobileNumber" #mobil formControlName="mobilevalue" pattern="^[6-9]\d{9}$">
        <div *ngIf="regform.controls['mobilevalue'].dirty" class="alert">
          <p *ngIf="regform.controls['mobilevalue'].errors?.['required']">Mobile Number should not be Empty</p>
          <p *ngIf="regform.controls['mobilevalue'].errors?.['pattern']">Enter a valid Mobile Number</p>
        </div>
      </div>
      <div class="password">
        <input type="password" placeholder="Password" #password formControlName="passwordvalue"
          pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{6,12}$">
        <div *ngIf="regform.controls['passwordvalue'].dirty" class="alert">
          <p *ngIf="regform.controls['passwordvalue'].errors?.['required']">Password should not be Empty</p>
          <p *ngIf="regform.controls['passwordvalue'].errors?.['pattern']">Password Must Contain
            1Caps(A)-Num(1)-Symbol(@)</p>
        </div>
      </div>
      <div class="confirm-password">
        <input type="password" placeholder="confirm password" #confirmpassword formControlName="confirmpasswordvalue">
        <div *ngIf="regform.controls['confirmpasswordvalue'].invalid&&regform.controls['confirmpasswordvalue'].dirty"
          class="alert">
          <p *ngIf="regform.controls['confirmpasswordvalue'].errors?.['required']">Confirm PW should not be Empty</p>
          <p *ngIf="regform.controls['confirmpasswordvalue'].errors?.['confirmPasswordValidate']">Confirm Password
            Doesn't Match Password</p>
        </div>
      </div>
      <div class="login-box">
        <button>Register</button>
      </div>
    </form>
  </div>
</div>
<app-footer></app-footer>
